streamlit==1.46.0
torch==2.2.2
torchvision==0.17.2
facenet-pytorch @ git+https://github.com/timesler/facenet-pytorch.git@787da06156087cd6b616fe6608213722bddc30cd
insightface==0.7.3
onnxruntime>=1.14.1
opencv-python-headless>=4.7.0
numpy>=1.26.4
Pillow>=10.2.0
